.footer {
  background-color: #0077b6;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  border-top: 2px solid #e52e71;
}

.a {
  color: #fff;
  text-decoration: none;
  text-shadow: 5px 5px 5px #000;
  transition: 0.5s;
}

.a:hover {
  text-shadow: 1px 1px 1px #000;
  transition: 0.5s;
}
