.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0077b6;
  color: #fff;
  text-align: center;
  border-radius: 0 0 5px 5px;
  border-bottom: 2px solid #e52e71;
}

.profileImg {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.h1 {
  text-shadow: 1px 1px 1px #000;
}

.ul {
  display: flex;
  list-style: none;
}

.li {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid #fff;
  padding: 5px;
  transition: 0.5s;
  border-radius: 5px;
}

.li:hover {
  background-color: #fff;
  color: #0077b6;
  transition: 0.5s;
  box-shadow: 2px 2px 2px #000;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .ul {
    padding: 0;
  }
}
